app = "cedulas-api"
primary_region = "lax"

[http_service]
  internal_port = 8080
  auto_start_machines = true
  auto_stop_machines = "stop"
  min_machines_running = 0
  force_https = true

[[vm]]
  memory = "1024mb"
  cpu_kind = "shared"
  cpus = 1
